html, body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.popup {
    position: absolute;
    left: calc(100% / 3);
    top: calc(100% / 3);
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.footer {
    background-color: rgb(0, 163, 114);
}

.button-flat {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.button-flat:hover {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-radius: 0px;
}
.button-flat:focus {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-radius: 0px;
}

.tab {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.tab-inactive {
    visibility: collapse;
}
.tab-active {
    visibility: visible;
}


.list-flat {
    margin: 0px;
}
.list-item-flat {
    background: none;
    padding: 5px 5px 5px 5px;
    margin: 0px;
    width: 100%;
    word-wrap: normal;
    overflow: hidden;
}
.list-item-flat:not([disabled]):hover {
    background-color: rgba(0, 163, 114, 0.2);
}
.list-item-flat:not([disabled]):active, .list-item-flat:not([disabled]):focus {
    background-color: rgba(0, 163, 114, 0.5);
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    padding: 4px 4px 4px 4px;
}
