html, body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.popup {
    position: absolute;
    left: calc(100% / 3);
    top: calc(100% / 3);
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.footer {
    background-color: rgb(0, 163, 114);
}

.button-flat {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.button-flat:hover {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-radius: 0px;
}
.button-flat:focus {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    border-radius: 0px;
}

.tab {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: lightgray;
}
.tab-inactive {
    display: none;
}


.list-flat {
    margin: 0px;
}
.list-item-flat {
    background: none;
    padding: 5px 5px 5px 5px;
    margin: 0px;
    width: 100%;
    word-wrap: normal;
    overflow: hidden;
    user-select: none;
}
.list-item-flat[disabled] {
    color: gray;
}
.list-item-flat:not([disabled]):hover {
    background-color: rgba(0, 163, 114, 0.2);
}
.list-item-flat:not([disabled]):active, .list-item-flat:not([disabled]):focus {
    background-color: rgba(0, 163, 114, 0.5);
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    padding: 4px 4px 4px 4px;
}


.header {
    user-select: none;
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-color: lightgray;
    background-color: rgb(0, 163, 114);
    padding: 5px;
}

.sidebar-right {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: lightgray;
}


.tree-node-label {
    user-select: none;
    padding: 5px 5px 5px 5px;
}
.tree-node-inner::before {
    content: ">";
    color: gray;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    margin-right: 6px;
}
.tree-node-expanded::before {
    transform: rotate(90deg);
}
.tree-node-children {
    margin-left: 8px;
    padding-left: 12px;
    border-color: gray;
    border-width: 0 0 0 1px;
    border-style: solid;
}
.tree-node-label[disabled] {
    color: gray;
}
.tree-node-label:not([disabled]):hover {
    background-color: rgba(0, 163, 114, 0.2);
}
.tree-node-label:not([disabled]):active, .tree-node-label:not([disabled]):focus {
    background-color: rgba(0, 163, 114, 0.5);
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    padding: 4px 4px 4px 4px;
}

.invisible {
    display: none;
}

.song-view-track {
    width: 100%;
    height: 48px;
    margin-bottom: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.song-view-track:nth-child(even) {
    background-color: rgba(0, 163, 114, 0.1);
}
.song-view-track:nth-child(odd) {
    background-color: rgba(204, 237, 226, 0.2);
}
.song-view-track-header {
    height: 100%;
    border-style: solid;
    border-color: lightgray;
    border-width: 0 1px 0 0;
}
.song-view-track-name {
    cursor: pointer;
    padding: 5px;
    user-select: none;
}
